* {
  background-color: #121212;
  color: white;
  font-family: sans-serif;
}

body {
  color: white;
}

.tracker {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100vh;
  width: min(980px, 90vw);
  margin: auto;
  justify-content: center;
  align-items: center;
  .card {
    width: 400px;
    height: 200px;
    margin: 10px;
    position: relative;
    border: 2px solid white;
    .card__person-id {
      position: absolute;
      bottom: 15%;
      left: 5%;
      color: grey;
    }
    .card__person-info {
      margin: 20px;
      font-size: 1rem;
    }
    .card__person-info--number {
      font-size: 2rem;
      font-weight: bolder;
    }
    .card__person-info--number-green {
      color: #00ff00;
    }
    .card__button {
      height: 100px;
      width: 100x;
      position: relative;
      bottom: 35%;
      left: 50%;
      font-size: 3rem;
      font-weight: bolder;
      color: white;
      border: none;
    }
    @media only screen and (min-width: 768px) {
      .card__button {
        height: 100px;
        width: 100px;
        font-size: 2rem;
      }
    }
  }
}
